# Ignorar entornos virtuales
venv/
env/
.env

# Ignorar archivos de Python precompilados
__pycache__/
*.pyc
*.pyo

# Ignorar base de datos local y temporales
nexus.db
nexus.db-shm
nexus.db-wal
nexus.sqlite
nexus_data.db
files.db
core/files.db
*.sql
*.sqlite
*.db

# Archivos de SO
.DS_Store
Thumbs.db
